<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <p style="text-align: center;"><img
            src={{card_image}}
            alt="" width="350" /></p>
    <div>
        <h2 style="text-align: center;"><strong>{{card_name}}</strong></h2>
    </div>
    <div>
        <blockquote>
            <div style="text-align: center;"><em>{{card_type}}</em></div>
        </blockquote>
        <div style="text-align: center;">
            <h4 style="text-align: center;">{{card_text}}</h4>
            <div>
                <div><span style="color: #070750;">{{card_price}}</span></div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    </div>


</body>

</html>